.about-me-front-main-page-cont{
    width: 100%;
    height: auto;
    background-color: var(--maincolor);
    padding: 0.2% 12.5%  0% 12.1%;
     
   
    
}
body, body * {
    user-select: none;          /* Standard */
    -webkit-user-select: none;  /* Safari/Chrome */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}

button,
.button,
a.btn {
    -webkit-user-select: none; /* Safari / iOS */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Standard */

    -webkit-tap-highlight-color: transparent; /* removes grey highlight on tap */
}
.about-me-front-main-page-inn-cont{
    width: 100%;
    height: auto;
    background-color: var(--maincolor);
    display: grid;
        /*  //  */
}
.about-me-front-main-page-inn-cont h1{
    text-align: center;
   font-size: 14.2vw;
   font-weight: 400;
   color: #183f2a;
}
.main-front-imge{
    width: 100%;
    height: 35vw;
    background-color: #ed6b2d;
    margin-top: 2%;

}
.main-front-imge img{
    object-fit: cover;
    width: 100%;
     height: 100%;
     border-radius: 10vw  12vw;
     display: block;
     object-position: top;
      
}
@media (max-width: 500px) {
    .about-me-front-main-page-cont{
        padding: 0%;
    }
    .main-front-imge {
        width: 100%;        /* full screen width */
        height: auto;       /* auto height */
    }

    .main-front-imge img {
        width: 100%;        /* fill container width */
        height: auto;
           /* optional: remove rounding on mobile */
    }
    .about-brandi-con h3{
        padding-left: 15vw;
        transform: translateY(-5vw);
    }
}

.descrp{
    display: flex;
    justify-content: end;
    column-gap: 4vw;
    padding: 4vw 0vw 1vw;
    
}
.descrp p{
max-width: 33%;
max-height:30% ;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: var(--maincolor);
font-size: 1.4vw;
}
@media (max-width: 700px) {
    .descrp {
        display: grid;            /* stack paragraphs vertically */
        grid-template-columns: 1fr; /* one column */
        gap: 15px;                /* spacing between paragraphs */
        justify-items: start;     /* align text to start */
        align-items: start;
        
        padding: 11% 0% 0% 0%;            /* add some padding */
        margin: 0;                /* reset margin */
    }

    .descrp p {
        max-width: 100%;          /* paragraphs take full width */
        max-height: none;         /* allow height to adjust */
        font-size: 4vw;           /* smaller, responsive font size */
        background-color: var(--maincolor); /* same as desktop or optional */
        padding: 5px;             /* optional padding inside paragraphs */
        box-sizing: border-box;
    }
     .descrp p::before {
        content: "--> ";       /* the arrow */
        font-size: 4vw;      /* same as paragraph font size */
        color: #194027;      /* optional color */
        margin-right: 5px;
    }
}

.senior-dev-post-page-cont{
    width: 100%;
    max-height: 920px;
    background-color: blue;
    display: flex;
}
.dev-post-img-cont{
    width: 46vw;
    max-height: 920px;
    background-color: #183f2a;
    overflow: hidden;

}
.dev-post-img-cont img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 17vw 17vw;
    object-position: top;
           
}
.dev-post-img-desc-contv {
 width:54vw;
 padding: 10%;
 
 background-color: aliceblue;
}
.dev-post-img-desc-contv p{
 font-size: 2vw;
}
.dev-post-img-desc-contv :nth-child(2){
    margin: 22%;
    font-size: 1.2vw;
}